@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
    padding: 0;
    margin: 0;
}

.logo {
    width: 42.5px;
    height: 42.5px;
    margin-left: 150px;
    margin-right: 30px;
    margin-top: 15px;

}

nav {
    width: 100%;
    display: flex;
    position:fixed;
}

.separator {
    height: 1px;
    background-color: #ccc;
    box-shadow: 0 70px 1px 0.5px rgb(0 0 0/0.1);
}

.menu {
    list-style-type:none;
    color: #6B7280;
    display: flex;
}

.menu li {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-right: 30px;
    margin-top: 27px;
}

.login {
    margin-left: 400px;
    font-family: 'Roboto', sans-serif;
    display: flex;
}
.lo {
    text-align: center;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: none;
    margin-top: 27px;
    color: #6B7280;
    width: 44.28px;
    height: 25.6px;
    cursor: pointer;
    margin-right: 10px;
}

.jo {
    text-align: center;
    margin: 8px 32px;
    margin-top: 20px;
    background-color: #2563EB;
    font-size: 15px;
    width: 94.25px;
    height: 37.6px;
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.jo:hover {
    background-color: rgb(68, 119, 249);
}


.ttt {
    text-align: center;
}

#g1 {
    color: #1f2937;
    font-size: 65px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    padding-top: 150px;
    display: block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);  
}

#g2 {
    color: #1f2937;
    display: block;
    font-size: 65px;
    margin: -10px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.ggg {
    color:#1f2937;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
}

.goo {
    text-align: center;
    background-color: white;
    width: 140px;
    height: 55x;
    margin-top: 30px;
    margin-left: 44%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.goo:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

